body {
    font-family: Tahoma;
    background-color: #f0f0f0;
    direction: rtl;
}

.container {
    width: 60%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #333;
}

.job {
    color: gray;
}